@page
@model Website.Pages.Games.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Registered Games</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="blueTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TblGames[0].UserId)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.TblGames[0].GameId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblGames[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblGames[0].Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblGames[0].Winner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblGames) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Winner)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.GameId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.GameId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.GameId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
